/*------HEADER-----*/
header{
	background-color: black;
    min-height: 60px;
    /* padding: 10px 10px 0; */
    border-bottom: 1px solid rgba(236, 232, 232, 0.1);
}
header>a.logo{
	font-size: 30px;
    padding-top: 10px;
    height: 40;
    display: inline-block;
    font-family: CI2;
    color: rgb(228,108,10) !important;
}
.header-menu{
	/*padding-top: 20px;*/
	height: 60px;
}
.header-menu>a{
	text-decoration: none !important;
    text-align: center;
    display: inline-block;
    height: 60px;
    padding: 0 15;
    line-height: 60px;
    border-left: 1px solid rgba(236, 232, 232, 0.14);
    border-bottom: none;
    text-transform: uppercase;
}
.header-menu>a:hover{
	/*color: orange !important;*/
	background-color: rgba(255,255,255,0.1);
}
.header-menu>a.active{
	/*color: orange !important;*/
	font-weight: bold;
}
.header-menu>a.header-caret-menu>i{
	line-height: 60px;
}
footer{
	margin-top: 10px;
}
footer,footer>a{
	color: #fff;
}
.footer-contents{
	background: #222;
	color: #fff;
    padding-top: 30px;
}
.footer-social{
	background-color: #333;
	height: 50px;
	padding-top: 10px;
}
.f-menu{
	display: inline-block;
	list-style-type: none;
	float: right
}
.f-menu>li>a{
	color: #fff;
}
.socials>div{
	     width: 30;
    height: 30;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}
.socials>div:hover>a{
	margin-top: 5px;
}
.socials>div>a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	-webkit-transition:margin-top 0.2s ease-out;
}
.socials>div:nth-child(1){
	background-color:  #00aced;
}
.socials>div:nth-child(2){
	background-color:  #bb0000;;
}
.socials>div:nth-child(3){
	background-color:  #3b5998;
}
.socials>div:nth-child(4){
	background-color: #cb2027;
}
.socials>div:nth-child(5){
	background-color: #517fa4;
}
 