<div class="search-box pull-left col-md-2">
				<form method="POST" id="search-form">
					<div class="form-group">
						<label><i class="fa fa-mouse-pointer"></i>  Job Type</label>
						<input class="form-control" name="job-type" type="text"></input>
					</div>

					<div class="form-group">
						<label><i class="fa fa-language"></i>  Language</label>
						<input class="form-control" name="language" type="text"></input>
					</div>
					<div class="form-group">
						<label><i class="fa fa-map-marker"></i>  Location</label>
						<input class="form-control" name="location" type="text"></input>
					</div>
					<div class="form-group">
						<label><i class="fa fa-exclamation"></i>  Project Status</label>
						<input class="form-control" name="location" type="text"></input>
					</div>
					<div class="form-group">
						<label><i class="fa fa-calendar"></i>  Recent Date</label>
						<input class="form-control" name="location" type="text"></input>
					</div>
					<div class="form-group">
						<label><i class="fa fa-tag"></i>  Project Type</label>
						<input class="form-control" name="location" type="text"></input>
					</div>
					<div>
						<div class="pull-right btn btn-success"><i class="fa fa-search"></i>&nbsp; Search</div>
						<div class="pull-left btn btn-danger"><i class="fa fa-save"></i>&nbsp; Save Search</div>
					</div>
				</form>
</div>