<div class="container clearfix" >
<div class="col-md-3 event-side-detail">
	<div class="panel">
		<div class="panel-heading"><h4>Event details</h4></div>
		<div class="panel-body">
			<div class="row"><span class="h col-md-5"><i class="fa fa-map-marker"></i> Audience</span> <span class="col-md-7">Actor, Singer</span></div>
			<div class="row"><span class="h col-md-5"><i class="fa fa-map-marker"></i> Where</span> <span class="col-md-7">17th degree, Dhanbad</span></div>
			<div class="row"> <span class="h col-md-5"><i class="fa fa-calendar"></i> When</span><span  class="col-md-7">10th Jan, 2016</span></div>
			<div class="row"> <span class="h col-md-5"><i class="fa fa-language"></i> Language</span><span  class="col-md-7">Kannada</span></div>
		</div>
	</div>
</div>
<div class="cover col-md-9 clearfix" ><!-- style="background: url(http://media.salon.com/2014/01/wolf_wall_street2.jpg);" -->
	<img src="http://media.salon.com/2014/01/wolf_wall_street2.jpg">
	<div class="interested-btn"><i class="fa fa-star"></i> Interested</div>
	<div class="invite-btn"><i class="fa fa-inbox"></i> Invite</div>	
</div>
	

</div>

