<div class="list-group sub-menu custom-vxs" ng-controller="subRouteController" >
	<div class="list-group-item" ng-class="{'active-b':issma(0)}"><a href="#/profile/{{w}}/about">About</a></div>
	<div class="list-group-item" ng-class="{'active-b':issma(1)}"><a href="#/profile/{{w}}/posts">Posts</a></div>
	<div class="list-group-item" ng-class="{'active-b':issma(2)}"><a href="#/profile/{{w}}/photos">Photos</a></div>
	<div class="list-group-item" ng-class="{'active-b':issma(3)}"><a href="#/profile/{{w}}/videos">Video</a></div>
	<div class="list-group-item" ng-class="{'active-b':issma(4)}"><a href="#/profile/{{w}}/audios">Audio</a></div>
	<div class="list-group-item" ng-class="{'active-b':issma(5)}"><a href="#/profile/{{w}}/script-works">Script Works</a></div>
</div>
