<div class="site-content clearfix" ng-controller="ProfileAboutCtrl as pac" ng-init="pac.init()">
<top-nav></top-nav>

<profile-cover></profile-cover>
	<div class="content container"  >

	<div class="col-md-3 ">
		<profile-side-menu></profile-side-menu>
	</div>

		<div class="col-md-9">
			<div class="overview panel">
				<h3>Overview</h3>
				<div class="overview-details clearfix">
					<div class="row">
						<div class="col-md-2"><h5>Member Since</h5></div><div class="col-md-2">{{pac.about.membersince.date.split(" ")[0]}}</div>
						<div class="col-md-3 pull-right">+91-{{pac.about.phone}}</div><div class="pull-right"><i class="fa fa-phone"></i> </div>
					</div>
					<div class="row">
						<div class="col-md-2"><h5>Connections</h5></div><div class="col-md-2">100</div>
						<div title="date of birth" class="col-md-3 pull-right">{{pac.about.dob}}<!-- 18th Match, 1990 --></div><div class="pull-right"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
					</div>
					<div class="row">
						<div class="col-md-2"><h5>Roles</h5> </div><div class="col-md-2">
							<span >{{pac.about.roles}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"><h5>Languages</h5></div><div class="col-md-2">
						<span >{{pac.about.languages }}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"><h5>Location</h5></div><div class="col-md-2">
						<span >{{pac.about.locations}}</span>
						</div>
					</div>
					<div class="row">

					</div>

					<!-- <div class="col-md-2"><h5>Last Active</h5><br> 25th Dec, 15</div> -->
				</div>
			</div>
			<br>
			<div class="panel overview">
				<h3>About</h3>
				<p>
{{pac.about.description || '(write something abour yourself)'}}
				</p>

			</div>
			<!-- <div class="about panel">
				<h3>About</h3>
				<div class="details clearfix">

				</div>
			</div> -->
		</div>


		</div>
	</div>
</div>
