<div class="site-content clearfix">
<top-nav></top-nav>

	<div class="content container">
		<div class="col-md-3">
    		<job-side-menu sideMenu="false" ng-class="class"></job-side-menu>
		</div>
		<div class="col-md-9" ng-controller="NewJobCtrl as njc" ng-init="njc.init()">
			<div class="init-message col-md-12" ng-hide="b">Post new job .</div>

			<div class="add-job-form col-md-12">
				<form name="addjob">
					<div class="form-group clearfix">
						<label>Project*</label>
						<select class="form-control" ng-model="njc.post.projectid"  ng-options="a.id as a.name for a in njc.myprojects" required></select>
					</div>
					<div class="form-group">
						<label>Job Title*</label>
						<input class="form-control" required ng-model="njc.post.title">
					</div>

					<div class="form-group">
						<label>Requirement*</label>
						<select class="form-control" required ng-model="njc.post.requirement" ng-options="a.id as a.name for a in njc.available.roles">
						<!-- <option ng-repeat="a in njc.available.roles" ng-value="a.role_id">
									{{a.name}}
								</option> -->
						</select>
					</div>

					<div class="form-group">
						<label>Last date to apply*</label>
						 <input class="form-control" type="date" ng-model="njc.post.date" required></input>
					</div>
					<br>
					<input ng-disabled="addjob.$invalid" class="btn btn-red" value="Post" type="submit" ng-click="njc.createNewJob()">
				</form>
				<!-- <form name="newproject" >
					<span class="text-info">{{njc.flash}}</span>
						<div class="form-group">
							<label>Project Title</label>
							<input  ng-model="njc.entered.title" class="form-control" type="text" placeholder="Project Title" required></input>
						</div>
						<div class="form-group">
							<label>Type</label>
							<select class="form-control" required ng-model="njc.entered.projecttype">
								<option></option>
								<option ng-repeat="a in njc.available.projecttypes" ng-value="a.id">
									{{a.name}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<label>Requirement</label>
							<select class="form-control" required ng-model="njc.entered.role">
								<option></option>
								<option ng-repeat="a in njc.available.roles" ng-value="a.role_id">
									{{a.name}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<label>Description <small>(max 200 character)</small></label>
							<textarea ng-model="njc.entered.description" class="form-control" maxlength="200" placeholder="Need a lead guitarist that cover Pink Floyd and Deep Purple. We gig every weekend."></textarea>
						</div>
						<div class="form-group">
							<label>Add an image</label>

							<br>
<img
  ngf-src="njc.file"
  ngf-resize="{width: 150, height: 150, quality: 0.9}"
  ngf-no-object-url="true"
>

							<br>
							<div class="btn btn-default" ng-show="!njc.file" ngf-select="njc.upload($file)">Upload Image</div>
							<div class="btn btn-default" ng-show="njc.file" ng-click="njc.deleteImage()">Delete</div>
						</div>
						<div class="form-group">
							<label>Language</label>
							<select class="form-control" required ng-model="njc.entered.language">
								<option></option>
								<option ng-repeat="a in njc.available.languages" ng-value="a.id">
									{{a.language}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<label>Location</label>
							<select class="form-control" required ng-model="njc.entered.location">
								<option></option>
								<option ng-repeat="a in njc.available.locations" ng-value="a.location_id">
									{{a.location}}
								</option>
							</select>
						</div>
						<div class="form-group" >
							<label>Stage</label>
							<select class="form-control" required ng-model="njc.entered.productionstage">
								<option></option>
								<option ng-repeat="a in njc.available.productionstages" ng-value="a.id">
									{{a.name}}
								</option>
							</select>
						</div>
						<input class="btn btn-red" value="Post" type="submit" ng-click="njc.createNewProject()">
						<br>
				</form> -->
			</div>
		</div>
	</div>
</div>
