<div class="site-content clearfix">
<top-nav></top-nav>
<event-side-detail></event-side-detail>
<event-cover></event-cover>
	<div class="content container ">
	
	<div class="col-md-3 ">
		<event-attendee></event-attendee>
	</div>

		<div class="col-md-9">
			<div class="panel overview">
				<h3>Details</h3>
				<p>
Kurt Donald Cobain (February 20, 1967 – April 5, 1994)[1] was an American musician who was best known as the lead singer, guitarist, and primary songwriter of the rock band Nirvana. Cobain formed Nirvana with Krist Novoselic in Aberdeen, Washington, in 1985 and established it as part of the Seattle music scene, having its debut album Bleach released on the independent record label Sub Pop in 1989.
<br>
After signing with major label DGC Records, the band found breakthrough success with "Smells Like Teen Spirit" from its second album Nevermind (1991). Following the success of Nevermind, Nirvana was labeled "the flagship band" of Generation X, and Cobain hailed as "the spokesman of a generation".
				</p>

			</div>
			<!-- <div class="about panel">
				<h3>About</h3>
				<div class="details clearfix">
					
				</div>
			</div> -->
		</div>
			
			
		</div>
	</div>
</div>